$bc: "background-color";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    // background: linear-gradient(to right, #ACBB78 , #799F0C);
    background: linear-gradient(to right, #aa076b , #61045f);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &::-webkit-scrollbar{
        width: 12px;
    }
    &::-webkit-scrollbar-track{
        #{$bc}: none;
    }
    &::-webkit-scrollbar-thumb{
        width: 100%;
        #{$bc}: rgba(229, 233, 232, 0.397);
    }


    .info-container{
        width: 75%;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: "Poppins" , sans-serif !important;

        h1{
            text-align: left;
            width: 100%;
            margin-top: 25px;
            color: rgba(255, 255, 255, 0.712);
            font-size: 40pt;
        }

        .start-btn{
            margin-bottom: 15px;
            font-size: 20pt;
            padding: 10px;
            padding-left: 30px;
            padding-right: 30px;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 25px;
            #{$bc}: rgba(255, 255, 255, 0.068);
            color: rgba(255, 255, 255, 0.658);
            transition: all .7s ease;
            animation: start 1.4s ease-in;
            &:hover{
                color: rgba(255, 255, 255, 0.767);
                #{$bc}: rgba(255, 255, 255, 0.13);
            }
        }

        .txt-type{
            border-right: 0.2rem solid #777;
        }
    }
}




@keyframes start{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    20%{
        opacity: .2;
        transform: translateY(-40px);
    }
    40%{
        opacity: .4;
        transform: translateY(-30px);
    }
    60%{
        opacity: .6;
        transform: translateY(-20px);
    }
    80%{
        opacity: .8;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}