$bc: "background-color";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #aa076b , #61045f);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    #chart-bmi{
        #{$bc}: rgb(129, 129, 129);
        z-index: 150;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        transition: all 0.5s ease;
        top: 0%;
        right: 0%;
        left: 0%;
        bottom: 0%;
        animation: Chart 0.7s ease-out;
        .img-container{
            width: 90%;
            height: 80%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }


    .info-container{
        width: 75%;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: "Poppins" , sans-serif !important;

        h1{
            text-align: left;
            width: 100%;
            margin-top: 25px;
            color: rgba(255, 255, 255, 0.712);
            font-size: 40pt;
        }

        .start-btn{
            margin-bottom: 15px;
            font-size: 20pt;
            padding: 10px;
            padding-left: 30px;
            padding-right: 30px;
            border: none;
            outline: none;
            cursor: pointer;
            #{$bc}: rgba(255, 255, 255, 0.068);
            color: rgba(255, 255, 255, 0.658);
            transition: all .7s ease;
            animation: start 1.7s ease-in;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                height: 3px;
                background-color: rgba(255, 255, 255, 0.534);
                width: 100%;
                transform: scaleX(0);
                transition: all 0.7s ease;
            }
            &:hover::after{
                transform: scaleX(1);
            }
        }

        .txt-type{
            border-right: 0.2rem solid #777;
        }
    }


    .calculator-container{
        width: 80%;
        height: 100%;
        animation: startCalculator 1.2s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: "Poppins" , sans-serif;

        input[type = "number"]
        {
            width: 650px;
            font-size: 22pt;
            &:focus{
                border: none !important;
                outline: none !important;
                box-shadow: none !important;
            }
        }
        .input-group-text{
            font-size: 18pt;
        }
        span{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        #calc-btn{
            width: 250px;
            min-height: 60px;
            height: auto;
            font-family: "Poppins" , sans-serif;
            font-size: 25pt;
            outline: none;
            border: none;
            border-radius: 2px;
            #{$bc}: rgba(255, 255, 255, 0.13);
            color: rgba(255, 255, 255, 0.788);
            transition: all 0.5s ease;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                height: 4px;
                width: 100%;
                transform: scaleX(0);
                transition: all 0.7s ease;
                #{$bc}: rgba(255, 255, 255, 0.247);
            }
            &:hover::after{
                transform: scaleX(1);
            }
        }

        #result{
            #{$bc}: rgba(179, 179, 179, 0.096);
            min-width: 60vw;
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            min-height: 40vh;
            height: auto;
            color: rgba(255, 255, 255, 0.89);
            padding: 15px;
            border-radius: 10px;
            .bmi-result{
                font-family: "Poppins" , sans-serif;
                span{
                    border: dashed 5px #1866a7;
                    padding-right: 10px;
                    padding-left: 10px;
                    transition: all 0.7s ease;
                }
            }
        }

    }
}


@keyframes startCalculator{
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }    
}

@keyframes Chart{
    0% {
        -webkit-transform: scaleX(0.1);
        transform: scaleX(0.1);
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }    
}


@keyframes start{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    20%{
        opacity: .2;
        transform: translateY(-40px);
    }
    40%{
        opacity: .4;
        transform: translateY(-30px);
    }
    60%{
        opacity: .6;
        transform: translateY(-20px);
    }
    80%{
        opacity: .8;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 901px)
{
    .input{
        width: 500px !important;
    }

    #h1-appinfo{
        font-size: 25pt !important;
    }
}

@media only screen and (max-width: 715px)
{
    .input{
        width: 400px !important;
        font-size: 17pt !important;
    }

    .input-group-text{
        font-size: 16pt !important;
    }
}

@media only screen and (max-width: 590px)
{
    .input{
        width: 350px !important;
    }
}

@media only screen and (max-width: 526px)
{
    .input{
        width: 300px !important;
        font-size: 15pt !important;
    }

    #h1-appinfo{
        font-size: 20pt !important;
    }
}

@media only screen and (max-width: 450px)
{
    .input{
        width: 240px !important;
        font-size: 14pt !important;
    }

    #h1-appinfo{
        font-size: 16pt !important;
    }

    .bmi-result{
        font-size: 15pt !important;
    }
}

@media only screen and (max-width: 372px)
{
    .input{
        width: 190px !important;
        font-size: 13pt !important;
    }
}

@media only screen and (max-width: 320px)
{
    #h1-appinfo{
        font-size: 14pt !important;
    }
}

@media only screen and (max-width: 312px)
{
    .input{
        width: 140px !important;
        font-size: 12pt !important;
    }
}

@media only screen and (max-width: 297px)
{
    .bmi-result{
        span{
            display: block !important;
            text-align: center;
            margin-top: 5px;
        }
    }
}